.player-card{
	/*display: inline-block;*/
	flex-shrink: 1;
	flex-basis: auto;
}
.team-btn{
	/*max-width:100px;*/
	flex-shrink: 1;
	flex-basis: auto;
	transition: all 0.5s;
}
.team-btn.active{
	flex-shrink: 0;
}
.team-btn img{
max-width:100%;
}
.player-card img{
	max-width:100%;
}
.player-card.active{
	/*flex-basis:200px;*/
	flex-shrink:0;
}
.player-card{
	transition: 0.5s;
}
.player-row{
	display: flex;
	max-width: 100%;
}
.main-container{
	max-width:100%;
width:100%;
}
.logo-sidebar{
	display: flex;
	opacity: 0;
	transition: all 0.5s;

}
.logo-sidebar.active{
	opacity: 1;
}
.player-row{
	display: flex;
	opacity: 0;
	transition: all 0.5s;

}
.player-row.active{
	opacity: 1;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none; }
